<!DOCTYPE html>
<html>

    <head>
        <title>My Express App</title>
        <style>
            body,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Trebuchet MS", Tahoma, sans-serif;
            }

            body.container {
                background-color: orange;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                height: 100%;
            }

            .not_found {
                color: black;
                font-size: 1rem;
            }

            .center {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px;
            }
        </style>
    </head>

    <body class='container'>
        <main class="not_found center">
            <div class="not_found_icon">

            </div>
            <div class="not_found_content">
                <h1>404</h1>
                <h2>UH OH! You're lost.</h2>
                <p>
                    The page you are looking for does not exist. How you got here is a mystery. But you can
                    reach out to owner on mobile +91-7353333573.
                </p>
            </div>
        </main>
    </body>

</html>